#root {
  /* Estas líneas probablemente están causando el problema */
  /* max-width: 1280px; */ /* <-- Comenta o elimina esto */
  /* margin: 0 auto; */   /* <-- Comenta o elimina esto */
  /* padding: 2rem; */   /* <-- Quizás quieras ajustar o eliminar esto también */
  /* text-align: center; */ /* <-- Comenta o elimina esto */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
